head 
    title 
        |Yatzy 4.0
    link(rel="icon", href="/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="/yatzy.css")
    script.
script.
  async function submitName() {
    const name = document.querySelector('input[name="name"]').value;
    if (!name) {
        alert("Please enter your name.");
        return;
    }

    // Send brugernavn til serveren via /auth
    const response = await fetch(`/auth?username=${encodeURIComponent(name)}`);
    if (response.ok) {
        window.location.href = "/client/yatzy.html";
    } else {
        alert("Something went wrong. Try again.");
    }
  }

if playerCount < maxPlayers
    div 
        h1 
            |Welcome | Let's Play Yatzy! 
        hr(class="divider")
    div 
        h2
            |Let us know who you are.
        input(type="text", placeholder="Enter your name" name="name" required)
        button(type="submit", onclick="submitName()") 
            |Submit
    div 
        h4 Currently connected: #{playerCount} of #{maxPlayers} players
else
    div 
        h1 
            |Welcome | Sorry the server is full! 
        hr(class="divider")
    div 
        h2 
            |Please try again later :-)
    div 
        h4 Currently connected: #{playerCount} of #{maxPlayers} players
